body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}


/* header ------------------------- */

header {
  min-height: 250px;
  min-width: 728px;
  border-bottom: 1px solid #313131;
  background-color: #292929;
}

/* main nav -------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  align-self: flex-end;
  display: block;
  /* flex-direction: row; */
  width: 60%;
  margin: 0 70px;
  border-bottom: 1px solid white;
  max-height: 10vmin;
}

nav>ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link-li {
  margin: 0;
  display: flex;
  flex-direction: row;

}

.nav-link-li>a {
  text-decoration: none;
  color: white;
  margin-bottom: 0;
}

li>p {
  color: white;
  font-size: 25px;
  font-weight: 300;
  margin: 10px -4px;
}

.plus-p {
  font-size: 35px;
  margin-left: -15px;
}

a>h3 {
  font-weight: 300;
}

a>h1 {
  font-weight: 400;
}

p {
  color: white;
  margin-bottom: 0;
}

/* section ---- ----- */

section {
  margin: 20px 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-story-div {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.main-story-div>img {
  width: 100%;
}

.main-story-text-wrap {
  color: white;
  align-self: flex-end;
  width: 50%;
  position: relative;
  top: -250px;
  left: -90px;

}

.main-story-text-wrap>h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  line-height: 1.2em;
  font-size: 2.6em;
  margin-bottom: 0;
}

.main-story-text-wrap>p:first-of-type {
  margin-top: 0;
  font-size: 1.4em;
  line-height: 1.2em;
  font-family: 'Times New Roman', Times, serif;
  letter-spacing: .02em;
}

.main-author-date-div {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.main-author {
  font-size: .8em;
  margin: 10px 0;
  color: rgb(9, 224, 181);
  letter-spacing: .1rem;
}

.main-date {
  font-size: .6em;
  margin: 10px;
  color: rgb(154, 154, 154);
  letter-spacing: .1rem;
}

.top-stories-section-div {
  align-self: flex-start;
  margin-top: 90px;
  width: 40%;
}

.story-list>p {
  color: rgb(9, 224, 181);
  font-size: .8em;
  max-width: 40%;
}

.story-list-div {
  width: 100%;

}

.story-list {
  width: 80%;
}

.story-list>li {
  color: white;
  border-bottom: 1px solid rgba(149, 148, 148, 0.306);
  margin: 0;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.list-item-wrap {
  width: 70%;

}

.list-item-wrap>h3 {
  color: white;
  font-size: 1.3em;
  margin-bottom: 0;
}

.author-time-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 90%;
}

.author-time-wrapper>p {
  font-size: .5em;
  color: rgb(154, 154, 154);
  letter-spacing: .1rem;
  margin: 5px;
}

.author-time-wrapper>p:first-of-type {
  font-size: .7em;
  color: rgb(9, 224, 181);
}

.img-wrap {
  width: 23%;
  max-height: 7vmin;
  overflow: hidden;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 0;
  border: 1px solid rgba(149, 148, 148, 0.523);

}

.img-wrap>img {
  max-width: 100%;
  object-fit: cover;

}


/* section 2 ------ */

.left-side-stories-div {
  display: flex;
  flex-direction: column;
  font-size: .85em;
  width: 40%;
  justify-content: space-between;
}

.small-story-div {
  width: 80%;
}

.small-story-deets-div {
  display: flex;
  flex-direction: row;
  font-size: .8em;
  align-items: center;
  padding: 0 0 20px 0;
  border-bottom: 1px solid rgba(149, 148, 148, 0.306);
}

.small-story-deets-div>p:first-of-type {
  color: rgb(154, 154, 154);
  margin: 10px 5px 3px 0;
}


.small-story-deets-div>p:last-of-type {
  color: rgb(9, 224, 181);
  margin: 10px 5px 3px 0;
}

.medium-story-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 15px 0;
  width: 80%;
  border-bottom: 1px solid rgba(149, 148, 148, 0.306);
}


.medium-story-text-wrap>h4 {
  color: white;
  font-size: 1.5em;
  margin: 0 0 5px 0;
}

.medium-story-deets-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .8em;
  letter-spacing: .1rem;

}

.medium-story-deets-div>p:first-of-type {
  color: rgb(9, 224, 181);
  margin: 0 5px 3px 0;
}


.medium-story-deets-div>p:last-of-type {
  color: rgb(154, 154, 154);
  margin: 0 5px 3px 0;
}

.medium-story-img-div {
  margin-bottom: 20px;
}


/* tweet story ----- */

.tweet-story-div {
  width: 75%;
  border-bottom: 1px solid rgba(149, 148, 148, 0.306);
}

.author-time-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: .7em;
  letter-spacing: .1rem;
}

.author-time-div>p:first-of-type {
  font-weight: 600;
  margin: 0 5px 3px 0;
  color: rgb(141, 141, 141);
}

.author-time-div>p:last-of-type {
  margin: 0 5px 3px 0;
  color: rgb(141, 141, 141);
}

.tweet-story-content-div {
  font-size: 1.2em;
}

.times-span {
  font-family: 'Times New Roman', Times, serif;
}

.tweet-img {
  width: 90%;
  margin: 20px;
  align-self: flex-start;
}

.tweet-img > img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid rgba(54, 99, 139, 0.547);
}