body {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
}


/* header ------------------------- */

header {
  min-height: 250px;
  min-width: 728px;
  border-bottom: 1px solid #313131;
  background-color: #292929; 
}

/* main nav -------------------------- */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  align-self: flex-end;
  display: block;
  /* flex-direction: row; */
  width: 60%;
  margin: 0 70px;
  border-bottom: 1px solid white;
  max-height: 10vmin;
}

nav > ul{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link-li {
  margin: 0;
  display: flex;
  flex-direction: row;

}

.nav-link-li > a {
  text-decoration: none;
  color: white;
  margin-bottom: 0;
}

li > p {
  color: white;
  font-size: 25px;
  font-weight: 300;
  margin: 10px -4px;
}

.plus-p {
  font-size: 35px;
  margin-left: -15px;
}

a > h3 {
  font-weight: 300;
}

a > h1 {
  font-weight: 400;
}

p {
  color: white;
  margin-bottom: 0;
}

/* section ---- ----- */

.section1 {
  margin: 20px 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.main-story-div {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}

.main-story-div > img {
  width: 100%;
}

.main-story-text-wrap {
  color: white;
  align-self: flex-end;
  width: 50%;
  font-size: 2em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
  top: -250px;
  left: -90px;
  line-height: 1.9em;
}

.top-stories-section-div {
  align-self: flex-start;
  margin-top: 90px;
}

.story-list > p {
  color: rgb(9, 224, 181);
  font-size: .8em;
  max-width: 40%;
}

.story-list-div {
  width: 100%;
 
}

.story-list {
  width: 80%;
}

.story-list > li {
  color: white;
  border-bottom: 1px solid rgba(149, 148, 148, 0.306);
  margin: 10px;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
}

.list-item-wrap {
  width: 240px;
}

.list-item-wrap > h3 {
color: white;
font-size: 1.3em;
margin-bottom: 0;
}

.author-time-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width:90%;
}

.author-time-wrapper > p {
  font-size: .5em;
  color: rgb(154, 154, 154);
  letter-spacing: .1rem;
}

.author-time-wrapper > p:first-of-type {
  font-size: .7em;
  color: rgb(9, 224, 181);
}

.img-wrap {
  width: 25%;
  max-height: 13vmin;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid rgba(149, 148, 148, 0.523);
}

.img-wrap > img {
  max-width: 100%;
  object-fit: cover;
  
}